*/target
*/*/target
*/wit
*/*/wit
*/*/wasi*
*/kinode-book
*swp
*wasm
mc-driver/pkg/*.wasm
*/node_modules
/.vscode/settings.json
/ui/ExportedMinecraftworld/*
/mcclient/ui/node_modules
/mcclient/ui/public/*
/mcclient/ExportedMinecraftworld/*
/mcclient/public/*
/mcclient/pkg/ui/tex
/mcclient/pkg/ui/minecraft.mtl
/mcclient/pkg/ui/minecraft.obj
/mcclient/pkg/ui/assets

