/* use this for styling the chat */
div .cs-message-list__typing-indicator-container div {
    color: #47b544; /* dunno what element is this this */
    }
    
    div .cs-main-container,
    div .cs-chat-container .cs-message-input {
    border: 0px;
    }
    
    div .cs-message--incoming .cs-message__content,
    div .cs-chat-container .cs-message-input,
    div .ps__thumb-y,
    div .ps__rail-y:hover .ps__thumb-y,
    div .ps__rail-y:active .ps__thumb-y {
    background-color: #3de4e9; /*element around the send message button*/
    }
    
    div .cs-message-input__content-editor,
    div .cs-message-input__content-editor-wrapper,
    div .cs-message-list,
    div .ps__rail-y:hover,
    div .ps .ps__rail-y:hover,
    div .ps__rail-y {
    background-color: #ff0e0e; /* message header element*/
    text-align: left;
    }
    
    div .cs-message--outgoing .cs-message__content {
    background-color: #000000; /* message text element*/
    text-align: right;
    }
    
    div .cs-typing-indicator__dot {
    background-color: #6d4700;
    }

