body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("https://i.imgur.com/ruVHPCX.jpeg")
    no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 4em;
  margin-top: 10vh;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
.option {
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}
.form-group {
  margin: 20px 0;
}
input[type="text"],
input[type="file"] {
  padding: 10px;
  font-size: 1em;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #333;
  background-color: #ffffff;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: rgba(255, 69, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: rgba(224, 62, 0, 0.8);
}
.disclaimer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
